body{

margin:0;
font-family:Arial;
background:#0b0b0b;
color:white;

}

.bg{

background-image:url('../assets/background.jpg');
background-size:cover;

}

.home{

text-align:center;
margin-top:150px;

}

.btn{

padding:15px 40px;
background:white;
color:black;
text-decoration:none;
border-radius:8px;

}

.red{

background:#ff2a2a;
color:white;

}

.card{

background:#1b1b1b;
padding:25px;
margin:10px;
border-radius:10px;

}

.cards{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:40px;

}

input{

padding:10px;
margin:10px;

}

button{

padding:10px 20px;
background:#ff2a2a;
border:none;
color:white;

}
